In [1]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
list(range(2, 22))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [6]:
address = 'Tokyo,Japan'
address.split(',')

['Tokyo', 'Japan']

In [11]:
address.split('Ja')

['Tokyo,', 'pan']

In [12]:
address.upper()

'TOKYO,JAPAN'

In [17]:
address.index('o')

1

split：指定した文字を除く
index：指定した文字が何番目か示す。(0から開始。最も左が反応。存在しなければエラーとなる。)
upper：大文字に変換

In [19]:
address.lower()

'tokyo,japan'

In [21]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

4 days, 0:00:00

In [22]:
date_a.year

2008

In [24]:
date_a.weekday()

1

()あり：メソッド：なんらかの処理をする
()なし：属性：データへのアクセスのみ

In [30]:
from datetime import *
today = date.today()
birthday = date(1997, 12, 5)
life = today - birthday
print(life)

7103 days, 0:00:00

In [34]:
a = date.today()

In [36]:
a.weekday()

2

In [40]:
tmp = date(1994,1,1)